*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: #333;
  font-family: 'Nunito', sans-serif;
}
.main{
  background: #fff;
  display: flex;
  justify-content: center;
}
.title{
  font-size: 30px;
  padding-top: 100px;
  padding-bottom: 50px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
input::placeholder{
  color: #006a3270;
}
.form{
  width: 480px;
  min-height: 100px;
  padding: 32px 24px;
  background: #fff;
  border-radius: 7px;
  margin: 24px;
  align-self: center;
  box-shadow: 3px 5px 30px 3px  rgba(0,0,0,0.3);
}
.heading {
  font-size: 30px;
  font-weight:700;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.form-label,
.form-message {
  text-align: left;
}
.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 18px;
  font-size: 15px;
}
.form-control {
  outline: none;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background: #fafafa;
  padding: 5px 20px;
  width: 100%;
  height: 40px;
}
.form-group.invalid .form-control {
  border-color: #f33a58;
}
.form-group.invalid .form-message {
  color: #f33a58;
  font-weight: 500;
}
.form-message {
  font-size: 12px;
  line-height: 16px;
  padding: 4px 0 0;
}
.form-submit {
  outline: none;
  background-color: #0d6efd;
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 500;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
.form-submit:hover {
  background-color: #1252b3;
} 

.form-submit span{
  margin-left: 12px;
}

.spacer {
  margin-top: 36px;
}

.forget{
  margin-top: 30px;
  float: right;
}


.card-text{
  height: 95px;
  overflow: hidden;
}

.m-t-30{
  margin-top: 30px;
}

.product-cart{
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.product-cart__img{
  width: 110px;
  height: 108px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 40px;
}
.product-cart__content{
  margin: auto 0;
  width: 400px;
}
.product-cart__content-title{
  font-size: 18px;
  font-weight:700;
  color:#111;
  margin-bottom: 10px;
  
}
.product-cart__content-decrip{
  font-size:14px;
  font-weight:500;
  line-height: 20px;
  color: rgba(51, 51, 51, 0.75);
}
.product-cart__count{
  font-size:22px;
  font-weight:800;
  color: var(--primary-color);
  margin: auto 80px;
}
.product-cart__price{
  font-size: 20px;
  font-weight:700;
  color: rgba(17, 17, 17, 0.9);
  margin: auto;
  margin-right: 55px;
  width: 85px;
}
.product-cart__price-old{
  font-size: 20px;
  font-weight:700;
  color: rgba(17, 17, 17, 0.9);
  margin: auto auto;
  width: 85px;
}
.product-cart__delete{
  margin: auto 0;
  font-size: 20px;
  color: rgba(17, 17, 17, 0.4);
  cursor: pointer;
}

.product-cart__btn_left,
.product-cart__btn_right{
    margin: auto 20px;
    padding: 8px 15px;
    font-size: 1.6rem;
    color: rgba(17, 17, 17, 0.9);
    border-radius: 5px;
    color: #fff;
    background-color: #0d6efd;
}
.product-cart__btn_left:hover,
.product-cart__btn_right:hover{
    background-color: #0c469c;
    color: #fff;
}
.product-cart__quantity{
  height: 20px;
  margin: auto 0;
  font-size: 18px;
  width: 50px;
  text-align: center;
  border: none;
  outline: none;
  color: rgba(17, 17, 17, 0.9);
  font-weight: 700;
}